/* ===========================
        FONT
=========================== */

@font-face{
    font-family: "Daydream";
    src: url("daydream FREE.ttf");
}

@font-face{
    font-family: "Eternalno";
    src: url("Eternalo.ttf");
}


/* ===========================
        RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
  background: linear-gradient(to top right, #f9f9fb, #736fed);
;

    overflow-x:hidden;

    font-family:"Poppins",sans-serif;

}

img{

    user-select:none;

    pointer-events:none;

}


/* ===========================
        INTRO
=========================== */

.intro{

    position:fixed;

    inset:0;

    background:#1c1138;

    z-index:9999;

}


/* ===========================
        PAGE
=========================== */

.letter-page{

    width:100%;

    max-width:1400px;

    margin:auto;

    padding:60px 7vw;

    position:relative;

}



/* ===========================
        TOP
=========================== */

.top{

    display:flex;

    align-items:flex-start;

    justify-content:space-between;

    position:relative;

}



/* ===========================
        ENVELOPE
=========================== */

.envelope-box{

    position:relative;
    top: -20px;
    width:400px;

}

.envelope{

    width:100%;

    display:block;

}

.letter{

    position:absolute;
    font-size: 1vw;

    left: 120px;

    top:110px;

    height:250px;

    display:flex;

    justify-content:center;

    align-items:center;

}

.letter h1{

    font-family:"Daydream";

    font-size:50px;

    line-height:1.15;

    color:#2d2d2d;

    text-align:center;

}



/* ===========================
        FOTO PNG
=========================== */

.me{

    width:170px;

    position:absolute;

    left:240px;

    bottom:100px;

}



/* ===========================
        AGE
=========================== */

.age{

    position: relative;
    left: -200px;
    right: auto;
    top: 30px;
    display: flex;
    align-items: flex-end;
    gap: 4px;

}

.number{

    font-size:100px;

    font-family:"Eternalno";

    line-height:.8;

    color:#222;

}

.th{

    display:block;

    margin-top:-2px;

    margin-right:12px;

    font-family:"Eternalno";

    font-size:58px;

}



/* ===========================
        MIDDLE
=========================== */

.middle{

    margin-top:-10px;

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

}



/* ===========================
        MESSAGE
=========================== */

.message{

    width:500px; 
  border-radius: 8px;        
  padding: 15px;
  background: #fbf8f2;

}

.message p{

    font-size:17px;

    line-height:2.05;

    color:#2d2d2d;

}



/* ===========================
        POLAROID
=========================== */

.photos{

    width:470px;

    position:relative;

    height:620px;

}

.photo{

    position:absolute;

    width:240px;

    background:white;

    padding:12px;

    box-shadow:0 18px 35px rgba(0,0,0,.15);

}

.photo1{

    left:10px;

    top:0;

    transform:rotate(-8deg);

}

.photo2{

    right:10px;

    top:120px;

    transform:rotate(9deg);

}

.photo3{

    left:90px;

    bottom:120px;

    transform:rotate(-5deg);

}



/* ===========================
        FUNKO
=========================== */

.funko{

    width:240px;

    margin-top:50px;
    right: -520px;

}



/* ===========================
        FOTO BAWAH
=========================== */

.bottom{

    position:relative;

    margin-top:80px;

    border-radius:35px;

    overflow:hidden;

}

.bottom img{

    width:100%;

    display:block;

}

.fade{

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:180px;

    background:linear-gradient(
        to bottom,
        #fbf8f2 0%,
        rgba(251,248,242,.95) 10%,
        
        transparent 100%
    );

}
 /* ===========================
        RESPONSIVE HP
=========================== */

@media (max-width:768px){

    .letter-page{
        padding:4px 20px;
    }

    .top{
        flex-direction:column;
        align-items:center;
        gap:30px;
    }

    .envelope-box{
        width:100%;
        max-width:320px;
    }

    .letter{
        width:190px;
        height:260px;
        left:19%;
        transform:translateX(-50%);
        top:45px;
    }

    .letter h1{
        font-size:32px;
    }

    .me{
        width: 115px;
        position: absolute;
        right: -8px;
        bottom: 105px;
        left: auto;
    }

    /* Funko kiri bawah surat */
    .funko{
        width: 115px;
        position: absolute;
        left: -8px;
        bottom: 105px;
        margin: 0;
    }
    .age{
        position: relative;
        left: 0;
        top: -55px;      /* makin kecil nilainya makin dekat ke surat */
        justify-content: center;
        margin-bottom: -60px;
    }

    .number{
        font-size:90px;
    }

    .th{
        font-size:32px;
        margin:0;
    }

    .middle{
        margin-top:70px;
        flex-direction:column;
        align-items:center;
        gap:45px;
    }

    .message{
        width:100%;
    }
    .message-container{
       width: 100%;
      height: 500px;
    }

    .message p{
        font-size:13px;
        line-height:1.8;
        text-align:justify;
        width: 300px;
      margin-left: 40px;
      margin-top: 30px;
        
    }

    .photos{
        width:100%;
        max-width:320px;
        height:450px;
    }

    .photo{
        width:150px;
        padding:8px;
    }

    .photo1{
        left:0;
        top:0;
    }

    .photo2{
        right:0;
        top:90px;
    }

    .photo3{
        left:29px;
        bottom:89px;
    }

    .bottom{
        margin-top:50px;
        border-radius:20px;
    }

    .fade{
        height:80px;
    }

  }
  .btn-kembali{
    position: fixed;
    top: 20px;
    left: 20px;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 12px 22px;

    border: 1px solid rgba(8, 4, 4, 0.671);
    border-radius: 50px;

    background: rgba(255,255,255,.08);
    backdrop-filter: blur(12px);

    color: #160a38;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;

    cursor: pointer;
    transition: .3s ease;

    z-index: 999;
}

.btn-kembali:hover{
    transform: translateY(-3px);
    background: rgba(255,255,255,.15);
    box-shadow: 0 8px 25px rgba(255,255,255,.15);
}

.btn-kembali:active{
    transform: scale(.95);
}

.btn-kembali i{
    font-size: 14px;
}
@media (max-width:768px){

    .btn-kembali{
        top: 15px;
        left: 15px;

        padding: 10px 18px;

        font-size: 13px;
    }

}